
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* resolve o problema do float*/
.clear{
    clear: both
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.logo{
    float: left
}

/* funciona só na tag nav*/
nav.menu-desktop{ 
float: right

}
/*ul dentro de um nav com essa classe*/
nav.menu-desktop ul{
position: relative;
top: 8px;
} 

nav.menu-desktop li{
    padding: 0 10px;
    font-weight: lighter;
    display: -webkit-inline-box;
}

nav.menu-desktop a{
    color: black;
    text-decoration: none;
    font-size: 22px;
}

nav.menu-desktop li.selected{
    font-weight: bold;
}

nav.menu-desktop a:hover{
    text-decoration: underline;
}
.logo h2{
    font-weight: normal;
}
.logo img{
height: 46px;
}
/*Banner*/

.main-bg{
    position: relative;
    width: 100%;
    height: 600px;
    padding: 150px 0;
    background: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

}
.main-bg h2{
    color: rgb(3, 3, 3);
    font-size: 100px;
}
.main-bg p{
    text-align: left;
    font-size: 30px;
    text-align: center;
margin-top: 15px;
}

/* cobre com cor o banner*/
.overlay{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(250, 249, 249, 0.4);
}
/* o que significa >?*/
.main-bg > .container{
    position: relative;
    z-index: 2;
}
/*botôes*/

.button{
    width: 200px;
    text-align: center;
    border: none;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    margin-top: 50px;
    transition-duration: 0.6s ;
}

.button01{
    background-color: rgb(7, 85, 7);
    border: 2px solid darkgreen;
    color: white;
}

.button01:hover{
    background-color: yellowgreen;
    

}
/* diferenciais*/

section.diferenciais{
    padding: 30px 0;
    text-align: center;
    height: 250px;
}

.line-text{
    position: relative;
    display: inline-block;
}

.line-text div{
position: absolute;
left:0;
top:0;
width: 250px;
height: 3px;
background: rgb(14, 95, 14);
}

.line-text h2{
    color:darkgreen;
    font-weight: normal;
    font-size: 27px;
}

.icones-diferenciais{
    margin-top: 35px;
}

.box-icone-single{
    float: left;
    width: 33.3%;
    margin-bottom: 20px;
    padding: 0 10px;
}

.box-icone-single h2 span{
    color: darkolivegreen;
    font-size: 40px;
}
.box-icone-single p{
    color: darkseagreen;
    font-weight: lighter;
    font-size: 16px;
}

/* Equipe*/
section.sobre-equipe{
    padding: 30px 0;
    background: rgb(225,225,225);
}

section.sobre-equipe > .container{
    display: flex;
    flex-wrap: wrap;
}

.equipe-container{
    width: 50%;
}

.sobre-container {
    width:50%;

}

.sobre-container p {
    color: black;
    font-size: 15px;
    margin-top: 10px;

}

.avatar-box{
    margin-top: 15px;
}
/*borda aredondada*/
.img-avatar{
    display: inline-block;
    width: 80px;
    height: 78px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-color: darkslategrey;
}

.descricao-avatar{
    padding: 0 10px;
    width: calc(100% - 90px);
    display: inline-block;
}

.descricao-avatar h3{
    color: black;
    font-weight: bold;
    font-style: italic;

}

.descricao-avatar p{
    color: dimgray;
    font-weight: normal;

}
